
            {% assign beae_root_url = routes.root_url %}
            {% if beae_root_url != '/'%}
                {% assign beae_root_url = routes.root_url | append: '/' %}
            {% endif %}
        {%capture section_id %}beae-our-team{% endcapture%}{% if section_id == section.id %}{% if shop.metafields.beae.global_css %}
            <!--BEAE-EMBED-->
            <link href="data:text/css;base64,{{-shop.metafields.beae.global_css-}}" rel="stylesheet" id="beae-global-css"/>
            <!--/BEAE-EMBED-->
        {% endif %}
{{ content_for_header }}
{% render 'beae_header', BEAE_THEME: true %}{% endif %}<link rel="stylesheet" id="beae-exported-page-css" media="all" href="{{"beae-684d542ac2f16e94ed0195a5.css" | asset_url}}"><div class="beae-builder-v2 beae-builder"><div class="beae-sections beae-content-wrapper"><script type="text/javascript">if (!window.BEAEARGS) {window.BEAEARGS = {};}</script>{% unless beae_header %}{{ 'beae.base.min.css' | asset_url | stylesheet_tag }}
                {% capture the_snippet_beae-global-theme-setting %}{% render 'beae-global-theme-setting' %}{% endcapture %}
                {% unless the_snippet_beae-global-theme-setting contains 'Liquid error' %}
                  {{ the_snippet_beae-global-theme-setting }}
                {% endunless %}
              <script src="{{ 'beae.base.min.js' | asset_url }}" defer="defer"></script>{% assign beae_header = true %}{% endunless %}
<!----><!----><!----><section id="" data-sectionid="beae-9w4ho6sl" data-width="1470" data-margin="30px" data-margin-mobile="15px" data-type="flexContainer" class="beae-typo-p1 beae-9w4ho6sl section-beae-9w4ho6sl beae-section beae-core"><!----><!----><div class="beae-flexbox beae-typo-p1" style="padding: 0px;"><div class="beae__section--container beae-flexbox-container" style="max-width: var(--beae-page-width, 1470px);"><!----><div class="beae-flexbox-core beae-x-flex-section grid-container-width"><!----><div class="beae-tddvyseo beae-block beae-core beae-animation beae-unique-1lq6u5kh" data-id="beae-tddvyseo" data-uniqueid="1lq6u5kh""><!----><style type="text/css"></style><div class="beae-slider-wrapper beae-slider slider-beae-tddvyseo items-per-3" data-draggable="true" data-desktop-layout="grid" data-mobile-layout="slider" data-effect="slide" data-pagination="true" data-navigation="true" style="--items-per: 3; --items-per-mobile: 1.2; --items-gap: 20px; --items-gap-mobile: 20px; --autoplay-delay: 5s;"><div class="beae-slider-content beae-slider-items"><div data-loop-index="0" class="beae-list-item beae-t7zrpili"><!----><!----><div class="beae-kx769cyi beae-block beae-core beae-unique-vcw6h69m" data-id="beae-kx769cyi" data-loop-index="0" data-uniqueid="vcw6h69m""><!---->{% assign beae_image_pr = images['4.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-hw2b beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0881/4883/6599/files/4.png?v=1749826842" alt="4" width="661" height="700" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-kx769cyiblock-imageloop-0'] = {
    "id": "beae-kx769cyi",
    "mode": {"value": "live"},
    "autoHover":false,"secondaryAction":"hover"
  };</script><!----></div><!----><!----></div><div data-loop-index="1" class="beae-list-item beae-td86ade1"><!----><!----><div class="beae-kx769cyi beae-block beae-core beae-unique-88ir2ypb" data-id="beae-kx769cyi" data-loop-index="1" data-uniqueid="88ir2ypb""><!---->{% assign beae_image_pr = images['1.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-wfm7 beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0881/4883/6599/files/1.png?v=1749826825" alt="1" width="661" height="700" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-kx769cyiblock-imageloop-1'] = {
    "id": "beae-kx769cyi",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----></div><div data-loop-index="2" class="beae-list-item beae-0nnlll4x"><!----><!----><div class="beae-kx769cyi beae-block beae-core beae-unique-i22ioja5" data-id="beae-kx769cyi" data-loop-index="2" data-uniqueid="i22ioja5""><!---->{% assign beae_image_pr = images['3.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-mquoc beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0881/4883/6599/files/3.png?v=1749826847" alt="3" width="661" height="700" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-kx769cyiblock-imageloop-2'] = {
    "id": "beae-kx769cyi",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----></div><div data-loop-index="3" class="beae-list-item beae-xa03lkfs"><!----><!----><div class="beae-kx769cyi beae-block beae-core beae-unique-i8mnbvxx" data-id="beae-kx769cyi" data-loop-index="3" data-uniqueid="i8mnbvxx""><!---->{% assign beae_image_pr = images['Archana_Das_Founder_of_Setu_Prakashani_Business_Consultant.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-9wws7 beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0881/4883/6599/files/Archana_Das_Founder_of_Setu_Prakashani_Business_Consultant.png?v=1749830129" alt="Archana_Das_Founder_of_Setu_Prakashani_Business_Consultant" width="661" height="700" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-kx769cyiblock-imageloop-3'] = {
    "id": "beae-kx769cyi",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----></div><div data-loop-index="4" class="beae-list-item beae-77y253xy"><!----><!----><div class="beae-kx769cyi beae-block beae-core beae-unique-o0bvwbn0" data-id="beae-kx769cyi" data-loop-index="4" data-uniqueid="o0bvwbn0""><!---->{% assign beae_image_pr = images['5.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-6uuid beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0881/4883/6599/files/5.png?v=1749826858" alt="5" width="661" height="700" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-kx769cyiblock-imageloop-4'] = {
    "id": "beae-kx769cyi",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----></div><div data-loop-index="5" class="beae-list-item beae-z4e30y93"><!----><!----><div class="beae-kx769cyi beae-block beae-core beae-unique-j6d3ya8r" data-id="beae-kx769cyi" data-loop-index="5" data-uniqueid="j6d3ya8r""><!---->{% assign beae_image_pr = images['Archana_Das_Founder_of_Setu_Prakashani_Business_Consultant_1.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-ic0am beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0881/4883/6599/files/Archana_Das_Founder_of_Setu_Prakashani_Business_Consultant_1.png?v=1749895993" alt="Archana_Das_Founder_of_Setu_Prakashani_Business_Consultant_1" width="661" height="700" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-kx769cyiblock-imageloop-5'] = {
    "id": "beae-kx769cyi",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----></div><div data-loop-index="6" class="beae-list-item beae-kyy6elu6"><!----><!----><div class="beae-kx769cyi beae-block beae-core beae-unique-ag4u4el2" data-id="beae-kx769cyi" data-loop-index="6" data-uniqueid="ag4u4el2""><!---->{% assign beae_image_pr = images['2.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-1csbr beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0881/4883/6599/files/2.png?v=1749826837" alt="2" width="661" height="700" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-kx769cyiblock-imageloop-6'] = {
    "id": "beae-kx769cyi",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----></div><div data-loop-index="7" class="beae-list-item beae-iep9vjsl"><!----><!----><div class="beae-kx769cyi beae-block beae-core beae-unique-rg1pjc1f" data-id="beae-kx769cyi" data-loop-index="7" data-uniqueid="rg1pjc1f""><!---->{% assign beae_image_pr = images['2.png'].alt %}
        {% assign beae_image_sec = images['undefined'].alt %}
        {% assign beae_image_mb_pr = images['undefined'].alt %}
        {% assign beae_image_mb_sec = images['undefined'].alt %}<!----><div class="beae-block beae-x-image beae-container-image beae-image-content-position beae-image-picture" hover-mode="false"><!----><!----><picture image-mode="" class="beae-whcah beae-image-primary"><!----><img src="https://cdn.shopify.com/s/files/1/0881/4883/6599/files/2.png?v=1749826837" alt="2" width="661" height="700" loading="lazy"></picture><!----></div><script type="text/javascript">window.BEAEARGS['beae-kx769cyiblock-imageloop-7'] = {
    "id": "beae-kx769cyi",
    "mode": {"value": "live"},
    "autoHover":false
  };</script><!----></div><!----><!----></div></div><div class="beae-slider-controls"><div class="beae-slider-controls-wrp"><div class="beae-slider-indicator"><div class="beae-slider-progress"></div></div><div class="beae-slider-nav-left"><button aria-label="button" type="button"><svg xmlns="http: //www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg></button></div><div class="beae-slider-pagination-wrp"></div><div class="beae-slider-nav-right"><button aria-label="button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg></button></div></div></div></div><script type="text/javascript">window.BEAEARGS['beae-tddvyseosection-slide-show'] = {
    "id": "beae-tddvyseo",
    "mode": {"value": "live"},
    "layout":"grid","layoutMobile":"slider","effect":"slide","isLoop":true,"autoPlay":false,"autoPlayDelay":5,"itemsPerSlide":3,"itemsPerSlideMobile":1.2,"itemsGap":"20px","itemsGapMobile":"20px","paginationImage":false,"paginationImageMobile":false,"typeScroll":"default","numItemsScroll":1,"showNavigation":true,"showPagination":true,"showProgress":true,"hookSliderInit":"","hookBeforeSlideChange":"","hookAfterSlideChange":"","noRunJs":false
  };</script><!----></div><!----><!----></div></div></div><!----><!----><!----><!----><!----><!----></section><!----><script type="text/javascript">window.BEAEARGS['beae-9w4ho6slsection-js'] = {
    "id": "beae-9w4ho6sl",
    "mode": {"value": "live"},
    "optionsVideo":false,"optionsVideoMobile":false
  };</script>
<script type="text/javascript">
  (() => {
    let testText = document.createElement('div');
    testText.innerHTML = 'test';
    testText.style.fontSize = '100px';
    document.body.appendChild(testText);
    let realFontSize = parseFloat(window.getComputedStyle(testText).getPropertyValue('font-size').replace('px', ''));
    testText.style.zoom = '50%';
    let detectDesktopRequestMode = window.getComputedStyle(testText).getPropertyValue('font-size') !== '100px';
    document.body.removeChild(testText);
    
    document.body.style.setProperty('--font-size-ratio', (realFontSize / 100).toString());

    function getTextNodesIn(elem) {
      let textNodes = [];
      if (elem) {
        for (var nodes = elem.childNodes, i = nodes.length; i--;) {
          let node = nodes[i], nodeType = node.nodeType;
          if (nodeType == 1 || nodeType == 9 || nodeType == 11) {
            textNodes = textNodes.concat(getTextNodesIn(node));
          }
        }
      }
      return textNodes;
    }

    let scaleFitGridBlock = () => {

      document.querySelectorAll('.beae-section.beae-core').forEach((sec) => {
        let container = sec.querySelector(".beae__section--container");
        if (!container) { return; };
        let winWidth = document.documentElement.offsetWidth;
        if (winWidth >= 768) {
          sec.querySelectorAll('.beae__section--container').forEach(container => {
            container.parentNode.style.setProperty("--container-width", container.closest('.grid-container-width') ? container.closest('.grid-container-width').parentNode.offsetWidth+'px' : container.offsetWidth+'px');
          });
        }
      });

      document.querySelectorAll('.beae-grid-block').forEach(block => {
       let child = block.querySelector('.beae-block.beae-core > *'),
           zoom = 0,
           count = 0;
        child.style.zoom = '';
        child.style.lineHeight = '';
        while(child.offsetHeight > block.offsetHeight && count < 14 && (zoom === 0 || block.offsetHeight < (child.offsetHeight*zoom))) {
            zoom = (block.offsetHeight+block.offsetWidth)/(child.offsetHeight+child.offsetWidth);
            child.style.zoom = zoom < 1 ? Math.floor(zoom*100)+'%' : '';
            child.style.lineHeight = '2.4rem';
            count++;
        }
      });
    };

    scaleFitGridBlock();
    let timmer = 0;
    window.addEventListener('resize', () => {
      clearTimeout(timmer);
      timmer = setTimeout(scaleFitGridBlock, 150);
    });
    window.addEventListener('load', scaleFitGridBlock);
    
    if (document.getElementById('beae-exported-page-css')) {
      document.getElementById('beae-exported-page-css').addEventListener('load', scaleFitGridBlock);
    }

  })();
</script>
</div></div>{% if section_id == section.id %}{% endif%}
<script id="beae-exported-page-js" src="{{'beae-684d542ac2f16e94ed0195a5.js'  | asset_url }}" defer></script>

{% schema %}
{
    "name": "BEAE BUILDER APP",
    "locales": {
        "en": {
            "be76480_html": "N\/A",
            "be430210269_html": "Tax included. ",
            "be72458158275_html": "<a href=\"{{shop.shipping_policy.url}}\">Shipping<\/a> calculated at checkout."
        }
    },
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by BEAE BUILDER",
            "info": "\n                        Beae is a flexible page builder app on Shopify AppStore.\n                        It provides 100+ Shopify Elements and pre-built templates library, \n                        so you can build unlimited pages that you can imagine with it.\n                    "
        },
        {
            "type": "header",
            "content": "[EDIT WITH BEAE APP \u2192](https:\/\/pseqkb-k2.myshopify.com\/admin\/apps\/beae-flexible-page-builder\/next\/editor-v3\/section\/684d542ac2f16e94ed0195a5)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "Our team"
        }
    ]
}
{% endschema %}